/* Single line for table */
.single-line {
    max-width: 500px;
    max-height: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* animation for alart widget */
.alert-success {
    position: relative;
    animation: fadeOut 3s ease-out forwards; /* 3s duration */
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; display: none;}
}

/* animation for sliding alert */
.notification-slide-right {
    position: fixed;
    top: 80px;
    right: -100%;
    transition: right 1s ease-in-out;
    z-index: 9999;
}

.notification-slide-right.show {
    right: 0; 
}

/* style for floating button and for welcome.blade */
.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.floating-button button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

